.project
.classpath
.settings/
/bin/
.sonar
/target
.factorypath
.directory
Icon/*
Icon*
Icon

.idea
*.iml
*/rebel.xml
*/nb-configuration.xml
.vscode
rebel.xml
*.class

generated/
/.DS_Store

.node_modules/*